.cart {
    position: sticky;
    top: 0;
    padding: 30 px 20px;
}
.profile-info img {
    width: 40%;
    border-radius: 400px;
    border: 4px solid darkgreen;
}

.profile-info {
    text-align: center;
}
.user-details{
    display: flex;
    justify-content: space-around;
    background-color: bisque;
    border-radius: 10px;
}
.break-time{
    display: flex;
    justify-content: center;
}
.break-time input{
    background-color: lightcoral;
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 100%;
    margin-right: 5px;
}

.break-time input:hover{
    background-color: darkgreen;
    color: white;
    font-weight: 700;
}

.break-time input:visited {
    background-color: darkgreen;
    color: white;
    font-weight: 700;
}

